<!DOCTYPE html>
<html>
<head>
    <title>Vulnerability Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-5">Vulnerability Dashboard</h1>
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-3">Detected Vulnerabilities:</h2>
                        <ul class="list-group">
                            {% for vulnerability in vulnerabilities %}
                                <li class="list-group-item">{{ vulnerability }}</li>
                                
                            {% endfor %}
                        </ul>
                        {% if not vulnerabilities %}
                            <p class="mt-3 text-center">No vulnerabilities detected.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
